.header{
    background-color: #000;

    &__inner{
        @include row;
        justify-content: space-between;
    }

    &__title{
        color: #fff;
    }

    &__btn{
        width: 20px;
        height: 17px;
        padding: 0;
        border: none;
        background-color: transparent;
    
        &::before,
        &::after,
        &-inner{
            display: block;
            content: "";
            width: 100%;
            height: 3px;
            background-color: #fff;
        }
    
        &-inner{
            margin: 4px 0;
        }
    }
}

